.bg {
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

h1 {
    color:whitesmoke;
    font-family: serif;
    font-size: 70px;
    font-weight: bold;
}

body {
    background-color: black;
}
p {
    color:whitesmoke
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    opacity: 0.8;
}

h2 {
    color:whitesmoke;
    font-size:large
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color:gray;
    font-size: small;
}

h3 {
    color:whitesmoke;
    font-family: serif;
    font-size: 80px;
}

h4 {
    color:whitesmoke;
    font-family: sans-serif;
}
h5 {
    color:whitesmoke;
    font-family: sans-serif;
    font-style: italic;
    size:small
}

.btn {
    background-color: transparent; 
    color: whitesmoke; 
    border-color: gray;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.btn:hover {
background-color: whitesmoke;
    color: black;
}

.section-2 {
    padding: 20px 70px;
    color:whitesmoke
}

.about-text {
    position: relative;
    text-align: left;
    padding: 20px 40px;
    color: white;
}

.right-centre {
    padding: 20px 500px;
}

.credit {
    color: darkgrey;
    font-size: small;
}
